<!DOCTYPE html>
<html>
<head>
    <title>SD_UI</title>
    <style>
        /* ... CSS styles như ban đầu ... */
    </style>
</head>
<body>
    <h1>DEMO SD</h1>
    <form action="/" method="post">
        <div class="myDiv">
            <textarea name="prompt" rows="3" placeholder="Prompt...">{{ user_input if user_input else "" }}</textarea>
        </div>
        <div>
            <textarea name="neg-prompt" rows="3" placeholder="Negative Prompt...">{{ negative_prompt if negative_prompt else "" }}</textarea>
        </div>
        <div class="myDiv">
            <button>Gen ảnh nào</button>
        </div>
        {% if image_url %}
        <div>
            <img src="{{ image_url }}" alt="Generated Image" />
        </div>
        {% endif %}
    </form>
</body>
</html>
